$base-min-width: 320px;
$base-background-color: #fff !default;
$base-font-size: 14px !default;
$base-font-weight: 300 !default;
$base-line-height: 1.6 !default;
$base-font-family: "Roboto", sans-serif;
$base-text-color: #fff !default;

$h2-font-size: 32px !default;
$h3-font-size: 22px !default;

$title-font-family: "Playfair Display", serif;
$title-font-weight: 900;

$btn-font-family: "Hammersmith One", sans-serif;
$btn-font-weight: 400;
$btn-color: #00e0d0;
$btn-hover: #00e0d0;










